* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #8a8c8e;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #c7c8ca;
}
.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #8b714b;
}
.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #c6a16c;
}
.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
}
.st5 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #b1101a;
}
.st6 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #00386c;
}
.st7 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #005496;
}
.st8 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #0066b3;
}
.st9 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #004b88;
}
.st10 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffffff;
}
.st11 {
  fill: #005288;
}
.st12 {
  fill: #005287;
}
